<div>
  <label>Planning</label>
  <div>
    <ngb-datepicker displayMonths="2" navigation="select"
                    showWeekNumbers="false" outsideDays="visible">
    </ngb-datepicker>
  </div>
</div>

<div>
  <label>Summary</label>
  <div class="summary">
    <div>
      <span class="square unwork"></span> Unwork
    </div>
    <div>
      <span class="square reduceWorkingTime"></span> Reduce Working Time
    </div>
    <div>
      <span class="square paidLeave"></span> Paid Leave
    </div>
    <div>
      <span class="square unpaidLeave"></span> Unpaid Leave
    </div>
    <div>
      <span class="square sickeLeave"></span> Sick Leave
    </div>
    <div>
      <span class="square unvalidate"></span> Not validated
    </div>
  </div>
</div>
